@font-face {
  font-family: "Neue Helvetica";
  src: url("../slutprojekt/font/HelveticaNeueLTStd-Roman.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Neue Helvetica";
  src: url("../slutprojekt/font/HelveticaNeueLTStd-Md.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Neue Helvetica";
  src: url("../slutprojekt/font/HelveticaNeueLTStd-Bd.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Neue Helvetica";
  src: url("../slutprojekt/font/HelveticaNeueLTStd-Hv.otf") format("opentype");
  font-weight: 700;
}
* {
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #fdfdfd;
  height: 500px;
  width: 100%;
}

ul, menu, dir {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.container {
  width: 1000px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.small-container {
  width: 750px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

#header {
  background-color: #DCEDC8;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#header nav {
  width: 100%;
  height: 66px;
}
#header nav div form {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}

.box-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.animate, #overlay {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#search-background {
  position: absolute;
  background-color: #fff;
}

#search {
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 16px;
  line-height: 16px;
  font-family: "Neue Helvetica";
  color: #212121;
  opacity: 0.7;
  position: relative;
  background-color: transparent;
  z-index: 10;
  user-select: none;
}

#search:focus {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  opacity: 0.85;
}

#search:hover {
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  opacity: 0.85;
}

.input-sizing {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  width: 226px;
  height: 40px;
  padding: 2px 12px;
  border: 0;
  outline: 0;
  z-index: 10;
}

#overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  background-color: #FBFBFB;
  opacity: 0.7;
}

#input-result-container {
  background-color: transparent;
  position: absolute;
  top: 53px;
  z-index: 9;
}

#suggestion-container {
  position: relative;
  background-color: transparent;
}

#suggestions-list {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.suggestion-box {
  background-color: #DCEDC8;
  padding: 7px 12px;
  height: 36px;
  width: 226px;
  transition: all 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.suggestion-box:hover {
  background-color: #8BC34A;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.suggestion-box:hover .suggestion {
  color: rgba(255, 255, 255, 0.8);
}
.suggestion-box:hover .bold {
  color: white;
}

.suggestion {
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-size: 22px;
  line-height: 36px;
  font-family: "Neue Helvetica";
  color: #212121;
  opacity: 0.85;
}

.tooltip {
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 16px;
  line-height: 39px;
  font-family: "Neue Helvetica";
  color: rgba(255, 255, 255, 0.95);
  opacity: 1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: absolute;
  right: 0;
  bottom: 0;
  height: 39px;
  width: 169px;
  background-color: #689F38;
  margin-right: 80px;
  margin-bottom: 20px;
  padding: 9px 3px;
  text-align: center;
}

#temp-btn {
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 16px;
  line-height: 50px;
  font-family: "Neue Helvetica";
  color: rgba(255, 255, 255, 0.94);
  opacity: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 50px;
  width: 120px;
  background-color: #689F38;
  border-width: 0px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 20px;
  margin-left: 20px;
  outline: 0;
  letter-spacing: 0.02em;
}

.bold {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
}

#lower-box {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
}

#box {
  height: 100px;
}

#inner-box {
  position: relative;
  left: 0;
}

#inner-inner-left-box {
  position: absolute;
  height: 100px;
  width: 500px;
}

#inner-inner-inner-upper-box {
  height: 50%;
  position: relative;
  top: 0;
}

#inner-inner-inner-lower-box {
  height: 50%;
  position: relative;
  bottom: 0px;
}

#symbol {
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-size: 34px;
  line-height: 50px;
  font-family: "Neue Helvetica";
  color: #212121;
  opacity: 0.9;
  margin-left: -3px;
}

#atomic-number {
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 14px;
  line-height: 50px;
  font-family: "Neue Helvetica";
  color: #212121;
  opacity: 0.97;
  top: -1.5em;
  left: 0px;
}

#name {
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 26px;
  line-height: 50px;
  font-family: "Neue Helvetica";
  color: #212121;
  opacity: 0.9;
  letter-spacing: 0.01em;
}

.position-right {
  float: right;
  margin-right: 50px;
  height: 100%;
  width: 100px;
  line-height: 50px;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 20px;
  line-height: 50px;
  font-family: "Neue Helvetica";
  color: #212121;
  opacity: 0.9;
}

#icon {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  margin-right: 20px;
  margin-bottom: 15px;
}
#icon img {
  opacity: 0.75;
}

#info {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: absolute;
  bottom: 75px;
  right: 10px;
  background-color: #689F38;
  height: 20px;
  width: 200px;
  opacity: 0;
  padding: 15px 20px;
  user-select: none;
}

#creator {
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 18px;
  line-height: 20px;
  font-family: "Neue Helvetica";
  color: rgba(255, 255, 255, 0.95);
  opacity: 0.95;
  letter-spacing: 0.04em;
}

.list-item {
  padding-left: 15px;
  padding-bottom: 15px;
  width: 100%;
  height: 60px;
  position: relative;
  top: 50px;
  margin-top: 30px;
  z-index: 5;
  border-bottom: 1px solid rgba(189, 189, 189, 0.65);
}

.list {
  list-style-type: none;
}

.category {
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-size: 32px;
  line-height: 60px;
  font-family: "Neue Helvetica";
  color: #212121;
  opacity: 0.85;
  display: inline-block;
}

.value {
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 24px;
  line-height: 60px;
  font-family: "Neue Helvetica";
  color: #212121;
  opacity: 0.8;
  display: inline-block;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
  #input-result-container {
    top: 44px;
  }

  .suggestion-box {
    width: 115px;
    height: 30px;
  }

  .suggestion {
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
    font-size: 19px;
    line-height: 30px;
    font-family: "Neue Helvetica";
    color: #212121;
    opacity: 0.85;
  }

  .container {
    width: 100%;
    box-sizing: border-box;
  }

  #inner-inner-left-box {
    width: 100%;
  }

  #search {
    font-size: 13px;
  }

  .small-container {
    width: 100%;
    box-sizing: content-box;
    padding: 0;
  }

  .list-item {
    top: 0;
    margin-top: 15px;
    box-sizing: border-box;
  }

  #icon {
    margin-right: 10px;
    margin-bottom: 5px;
  }

  #temp-btn {
    margin-bottom: 15px;
    margin-left: 15px;
    line-height: 40px;
    height: 40px;
    z-index: 50;
  }

  .category {
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
    font-size: 18px;
    line-height: 60px;
    font-family: "Neue Helvetica";
    color: #212121;
    opacity: 0.85;
  }

  .value {
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 18px;
    line-height: 60px;
    font-family: "Neue Helvetica";
    color: #212121;
    opacity: 0.8;
    display: inline-block;
  }

  .position-right {
    margin-right: 0;
    margin-left: 20px;
    font-size: 18px;
  }

  #header nav div form {
    margin-right: 0;
  }
  #header nav div form .input-sizing {
    width: 115px;
    height: 30px;
  }

  #info {
    z-index: 6;
    right: 5px;
    bottom: 60px;
    width: 180px;
    height: 20px;
    padding: 10px 12.5px;
  }

  #creator {
    font-size: 16px;
  }
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  .small-container {
    width: 600px;
    margin-top: -50px;
  }

  .category {
    line-height: 40px;
    font-size: 28px;
  }

  .list-item {
    height: 40px;
  }

  .value {
    line-height: 40px;
    font-size: 28px;
  }
}
